{% extends "digital-land-frontend/dlf-base.html" %}

{% block dlHead %}
{%- if content.frontmatter.external_url is defined %}
<!-- redirect to {{content.frontmatter.external_url}} -->
<meta http-equiv="Refresh" content="0; url='{{content.frontmatter.external_url}}'" />
{% endif -%}
{% endblock dlHead %}

{% block beforeContent %}
  {% include 'digital-land-frontend/partials/dl-prototype-banner.html' %}
  {% block dl_breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": breadcrumbs
  }) }}
  {% endblock %}
{% endblock %}

{% block content %}
{% if content.section %}
<span class="govuk-caption-xl">{{ content.section }}</span>
{% endif %}
<h1 class="govuk-heading-xl">{{ content.title }}</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {%- if content.lede %}<p class="govuk-body-l">{{ content.lede }}</p>{% endif -%}
    {{ content.content|markdown }}
  </div>
</div>

{% endblock %}
