{% extends "digital-land-frontend/dlf-base.html" %}

{% block beforeContent %}
  {% include 'digital-land-frontend/partials/dl-prototype-banner.html' %}
  {% block dl_breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": breadcrumbs
  }) }}
  {% endblock %}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">{{ list.title }}</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {%- if list.lede %}<p class="govuk-body-l">{{ list.lede }}</p>{% endif -%}
    {{ list.content|safe }}
  </div>
  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list{%- if not list.show_summaries %} govuk-list--bullet{% endif %}">
      {% for i in list.pages %}
      <li>
        {%- if list.show_summaries -%}
        <article>
          <header>
            <h2 class="govuk-heading-m">
                <a class="govuk-link" href="{{ i.url }}">{{ i.title }}</a>
            </h2>
          </header>
          {% if i.summary %}
          <div class="entry-summary">
            {{ i.summary|markdown }}
          </div>
          {% endif %}
        </article>
        {% else %}
        <a class="govuk-link" href="{{ i.url }}">{{ i.title }}</a>
        {% endif -%}
      </li>
      {%- endfor %}
    </ul>
  </div>
</div>

{% endblock %}

